<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Machine Efficiency Prediction App</title>
</head>
<body>
    <h1>Smart Manufacturing Machine Efficiency</h1>
    <form method="post">
        {% for feature in features %}
            <label for="{{ feature }}"> {{ feature }}: </label>
            <input type="text" name="{{ feature }}" required> <br>
        {% endfor %}

        <button type="submit">Predict</button>

    </form>

    {% if prediction %}
        <h2>Prediction : {{ prediction }}</h2>
    {% endif %}
</body>
</html>